# nginx, basic non-secure reverse proxy example
# with zen-relay on port 1337

server {
  listen 80;
  listen [::]:80;

  server_name relay.amnesia.software;

  location / {
    proxy_set_header HOST $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_pass_request_headers on;
    proxy_pass http://localhost:1337;
    proxy_http_version 1.0;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
  }
}
